name: danger

on: [pull_request]

jobs:
  danger:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout 
      uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "2.6.2"
        bundler-cache: true
    - uses: MeilCli/danger-action@v5
      with:
        danger_file: "Dangerfile"
        danger_id: "danger-pr"
      env:
        DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

