---
name: test-mongodb

on: [push, pull_request]

jobs:
  test-mongodb:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v3
      - name: Setup Firefox
        uses: browser-actions/setup-firefox@latest
        with:
          firefox-version: "54.0"
      - name: Download geckodriver
        uses: browser-actions/setup-geckodriver@latest
        with:
          geckodriver-version: "0.18.0"
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "2.6.2"
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.7.0
        with:
          mongodb-version: "5"
          mongodb-db: slack-ruby-bot-server-stripe_test
      - name: Run tests
        uses: GabrielBB/xvfb-action@v1
        env:
          DATABASE_ADAPTER: mongoid
        with:
          run: |
            bundle install
            bundle exec rake
